__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
ckpt
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
debug_pcd

# Blender
blender-4.0.0-linux-x64/*

ckpt/*
data/*
mesh_root/*
data_root/*
exp/*


